version: "3.1"
services:
  postgres:
    image: postgres
    container_name: url_short_postgres
    restart: always
    ports:
      - 5432:5432
    volumes:
      - pg-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"

  redis:
    image: redis:6.0.8-alpine
    container_name: url_short_redis
    volumes:
      - redis-data:/data
    ports:
      - "6379:6379"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"

volumes:
  pg-data:
  redis-data: